<div class="container">
    <h1>Russian Burgers YUM!!!</h1>
    <div id="logo">
        <img src="assets/img/1.png">
    </div>

    <section id="burgers">
        <div id="burgersfresh">
        {{#each burgers}}
            {{#unless this.devoured}}
                <div class="burger">
                    <span>{{this.burger_name}}</span>
                    <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                        <input class="customer-input" type="text" name="customer_name" placeholder="customer name">
                        <br>
                        <button class="btn">Devour</button>
                    </form>
                </div>
            {{/unless}}
        {{/each}}
        </div>

        <div id="burgersdevoured">
            {{#each burgers}}
                {{#if this.devoured}}
                    <div class="devoured">
                        <span>{{this.burger_name}} eaten by {{this.customer.customer_name}}</span>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </section>
    <div class="clear"></div>

    <h2>Add a Yummy you want to eat!</h2>

    <form class="create-form" method="POST" action="/burgers">
        <div class="form-group">
            <input type="text" id="burger_name" name="burger_name">
        </div>

        <button type="submit">Add Piroshki</button>
    </form>
</div>